*{
	margin: 0;
	padding: 0;
}
.parent{
	border: 2px solid green;
	width:90%;
	height: 95vh;

}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.parent{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.red{
	border: 2px solid red;
	width: 90%;
	display: flex;
}
.red:nth-child(1){
	height: 20%;
	/*display: flex;*/
	align-items: center;
	justify-content: space-around;

}
.red:nth-child(2){
	height: 15%;

}
.red:nth-child(3){
	height: 30%;

}
.red:nth-child(4){
	height: 20%;

}
.blue{
	border: 2px solid blue;
	height: 90%;
}
.red:nth-child(1) .blue:nth-child(1), .red:nth-child(1) .blue:nth-child(3) {
	width: 25%;
}
.red:nth-child(1) .blue:nth-child(2){
	width: 40%;
}
.yellow{
	border: 2px solid yellow;
	width: 90%;
	height: 45%;
}
.red:nth-child(1) .blue:nth-child(3){
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.red:nth-child(4) {
	justify-content: space-around;
	align-items: center;
}
.red:nth-child(4) .blue:nth-child(1), .red:nth-child(4) .blue:nth-child(3) {
	width: 25%;
}
.red:nth-child(4) .blue:nth-child(2){
	width: 40%;
}
.red:nth-child(4) .blue:nth-child(1){
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.red:nth-child(2) {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.red:nth-child(2) .blue {
	width: 22.5%;
}
.red:nth-child(3) {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.red:nth-child(3) .blue:nth-child(1) {
	width: 24%;
}
.red:nth-child(3) .blue:nth-child(2) {
	width: 72%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.red:nth-child(3) .blue:nth-child(2) .yellow:nth-child(1){
	height: 80%;
}
.red:nth-child(3) .blue:nth-child(2) .yellow:nth-child(2){
	height	: 10%;
}
