*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    width: 100wv;
    height: 100wh;
}
nav{
    height: 10vh;
    width: 100vw;
    background-color: #000;
    position: relative;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.navbar{
    position: absolute;              
    top: 50%;
    transform: translate(0, -50%);
}
.navbar{
    justify-content: space-between;
    position: relative;
}
ul{
    display: flex;
    align-items: center;
}
.navbar>img{
    height: 30px;
    width: auto;
}
a{
    text-decoration: none;
    color:white;
}
.navbar>ul>li>a:hover{
    color:coral;
}
li{
    padding: 10px 20px;
}
main{
    height: 75vh;
    width: 100vw;
    background-image: url('main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
footer{
    height: 15vh;
    width: 100vw;
    background-color: #fff;
    position: relative;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
h2{
    margin-top: 20px;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
}
h2::after{
    content: "";
    display: block;
    width: 60px;
    padding-top: 30px;
    border-bottom: 5px solid #fff;
}
p{
    max-width: 50%;
    color: white;
    font-weight: 200;
    font-size: 16px;
}
button{
    background-color: transparent;
    border-radius: 0px;
    border: 3px solid white;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 30px;
    margin-top: 30px;
    cursor: pointer;
}
button:hover{
    border-color: coral;
    color: coral;
}
.form{
    display: block;
    width: 350px;
    height: 420px;
    background-color: #fff;
}
.form-head{
    height: 30px;
    width: 100%;
    background-color: rgb(208, 208, 208);
    color: #000;
    padding: 20px 0;
    margin: 0 auto;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
.form-head>span{
    color:coral;
}
.form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
}
input{
    border: 0;
    border-bottom: 2px solid rgb(208, 208, 208);
    color: rgb(208, 208, 208);
    padding: 10px 5px;
    margin-bottom: 40px;
    width: 250px;
}
.form-button{
    height: 70px;
    width: 100%;
    background-color: coral;
    color: #fff;
    text-align: center;
}
.form-button:hover{
    background-color: rgb(248, 106, 54);
}
.form-button>a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    height: 100%;
}
h3{
    font-weight: 600;
    font-size: 32px;
}
.footer-left>p{
    color: rgb(208, 208, 208);
    max-width: 80%;
}
.footer>ul>li{
    list-style: none;
}
.footer>ul>li>a{
    color: rgb(208, 208, 208);
    font-size: 60px;
}
.fa-brands:hover{
    color: coral;
}
